<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include style.css
</head>

<body>
    <div id="container">
        <h1>Please Fill your Details</h1>
        <form action="/" method="post" id="contact">
            <input type="text" id="name" name="name1" placeholder="Enter your name">
            <input type="text" id="age" name="age" placeholder="Enter your age">
            <input type="text" id="gender" name="gender" placeholder="Gender">
            <input type="email" id="email" name="email" placeholder="Enter your email">
            <input type="text" id="phone" name="phone" placeholder="Enter your Phone Number">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your Address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More About You"></textarea>
            <button type="submit" class="btn">Submit</button>
        </form>

    </div>
</body>

</html>